body{
    background: linear-gradient(to right,#34ddef, #6f63d8); 
}

#Login{
    text-align: center;
}

.inputIndex{
    display: inline;
}

.UserImg{
    width: 150pt;
    height: 25%;
    border-radius: 50%;
}

#login{
    color: #565a60;
    background-color: #d0d8e5;
    width: 60px;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
}

#Password{
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
}
