body{
    margin: 0;
    background-image: url("Bimg.png");
}
.taskBar{
    display: inline;
    
}

.task-bar{
    background-color: #476089;
    width: 97.9%;
    height: 3.3%;
    position: absolute;
    top: 95%;
    overflow: hidden;
}

.task{
    padding-right: 3px;
    padding-left: 3px;
    height: 90%;
    width: 4%;
    border-radius: 50%;

}

.task:hover{
    opacity: 0.5;
    background-color: #476075;
}


